In [1]:
import numpy as np
import pandas as pd
# from pandas import Series, DataFrame 
import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from statsmodels.stats.outliers_influence import variance_inflation_factor

import warnings
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.model_selection import cross_validate, train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV, validation_curve

# from xgboost import XGBClassifier
import lightgbm as ltb
# from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.exceptions import ConvergenceWarning
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import joblib
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
import statsmodels.api as sm

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
pd.set_option('display.width', 10000)

c:\ProgramData\Anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
df=pd.read_csv(r"data/maas.csv")

In [3]:
df.head()

    level              position                                         tech_stack experience gender    company  company_size                                          work_type      city         currency salary_for_other_currency salary_for_tl_currency
0  Middle    Back-end Developer                                                Php  3 - 5 Yıl  Erkek    Startup  25 - 50 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
1  Junior   Front-end Developer                                              React  0 - 1 Yıl  Erkek    Startup  10 - 25 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN    8.000 TL - 8.999 TL
2  Middle    Back-end Developer                                               .Net  1 - 3 Yıl  Erkek  Outsource  10 - 25 Kişi                                             Remote  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
3  Junior  Full Stack Developer  Java, JavaScript | Html | Css, React, React Na...  1 - 3 Yıl  Erkek    Startup  10 - 25 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN  10.000 TL - 10.999 TL
4  Junior    Back-end Developer                      .Net, JavaScript | Html | Css  0 - 1 Yıl  Erkek   Kurumsal          250+  Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis ...   Kocaeli  ₺ - Türk Lirası                       NaN    5.000 TL - 5.999 TL

In [4]:
# Okunurluk için kolon isimlerini büyük harf yaptık.
df.columns = [col.upper() for col in df.columns]
df.head()

    LEVEL              POSITION                                         TECH_STACK EXPERIENCE GENDER    COMPANY  COMPANY_SIZE                                          WORK_TYPE      CITY         CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY
0  Middle    Back-end Developer                                                Php  3 - 5 Yıl  Erkek    Startup  25 - 50 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
1  Junior   Front-end Developer                                              React  0 - 1 Yıl  Erkek    Startup  10 - 25 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN    8.000 TL - 8.999 TL
2  Middle    Back-end Developer                                               .Net  1 - 3 Yıl  Erkek  Outsource  10 - 25 Kişi                                             Remote  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
3  Junior  Full Stack Developer  Java, JavaScript | Html | Css, React, React Na...  1 - 3 Yıl  Erkek    Startup  10 - 25 Kişi                             Hibrit (Ofis + Remote)  İstanbul  ₺ - Türk Lirası                       NaN  10.000 TL - 10.999 TL
4  Junior    Back-end Developer                      .Net, JavaScript | Html | Css  0 - 1 Yıl  Erkek   Kurumsal          250+  Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis ...   Kocaeli  ₺ - Türk Lirası                       NaN    5.000 TL - 5.999 TL

In [5]:
# (gözlem sayısı, değişken sayısı)
df.shape

(5030, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LEVEL                      5030 non-null   object
 1   POSITION                   5030 non-null   object
 2   TECH_STACK                 5029 non-null   object
 3   EXPERIENCE                 5030 non-null   object
 4   GENDER                     5030 non-null   object
 5   COMPANY                    5030 non-null   object
 6   COMPANY_SIZE               5030 non-null   object
 7   WORK_TYPE                  5030 non-null   object
 8   CITY                       5030 non-null   object
 9   CURRENCY                   5030 non-null   object
 10  SALARY_FOR_OTHER_CURRENCY  533 non-null    object
 11  SALARY_FOR_TL_CURRENCY     4493 non-null   object
dtypes: object(12)
memory usage: 471.7+ KB

In [7]:
# Değişkenlerdeki eksik değer sayıları
df.isnull().sum()

LEVEL                           0
POSITION                        0
TECH_STACK                      1
EXPERIENCE                      0
GENDER                          0
COMPANY                         0
COMPANY_SIZE                    0
WORK_TYPE                       0
CITY                            0
CURRENCY                        0
SALARY_FOR_OTHER_CURRENCY    4497
SALARY_FOR_TL_CURRENCY        537
dtype: int64

In [8]:
# Her değişkenin içerdiği unique değer sayısına bakıyoruz.
for col in df.columns:
    print(col, df[col].nunique())

LEVEL 3
POSITION 30
TECH_STACK 866
EXPERIENCE 7
GENDER 2
COMPANY 18
COMPANY_SIZE 6
WORK_TYPE 5
CITY 147
CURRENCY 4
SALARY_FOR_OTHER_CURRENCY 11
SALARY_FOR_TL_CURRENCY 45

In [9]:
# Her kolondaki unique değerlerin neler olduğuna bakıyoruz.
for col in df.columns:
    print(col, df[col].unique())
    print(f"============================================================================================")

LEVEL ['Middle' 'Junior' 'Senior']
============================================================================================
POSITION ['Back-end Developer' 'Front-end Developer' 'Full Stack Developer'
 'Mobile Application Developer' 'Embedded Software Developer'
 'Team / Tech Lead' 'Software Development Manager' 'Game Developer'
 'Data Scientist' 'Software Architect' 'RPA Developer'
 'Computer Vision Engineer' 'QA / Test Automation Developer'
 'DevOps Engineer' 'Data Analyst' 'Data Engineer' 'CTO' 'Machine Learning'
 'Database Administrator' 'IT Specialist' 'Project & Product Manager / PO'
 'Consultant' 'R&D Engineer' 'Support Engineer' 'Business Analyst'
 'Seo Specialist' 'SAP/ABAP/ERP Developer' 'SysAdmin' 'Security'
 'Blockchain Developer']
============================================================================================
TECH_STACK ['Php' 'React' '.Net' 'Java, JavaScript | Html | Css, React, React Native'
 '.Net, JavaScript | Html | Css' 'Python, Kotlin, React Native'
 '.Net, JavaScript | Html | Css, Angular, React Native'
 'Php, JavaScript | Html | Css' 'Php, Go, JavaScript | Html | Css, Vue'
 'Swift / Objective C' 'JavaScript | Html | Css, React, Vue, Express.js'
 'JavaScript | Html | Css, Vue' 'Swift / Objective C, Flutter' 'Java' 'Go'
 'Php, Swift / Objective C' '.Net, Php, Vue' 'C / C++' 'Python'
 'Php, Angular' 'JavaScript | Html | Css' 'Node JS'
 '.Net, Vue, Angular, Flutter'
 '.Net, JavaScript | Html | Css, React, Angular' '.Net, Angular'
 '.Net, Flutter'
 '.Net, Swift / Objective C, JavaScript | Html | Css, React, React Native'
 'Php, React, Angular' 'React, Vue' '.Net, JavaScript | Html | Css, React'
 'Java, .Net, Python, JavaScript | Html | Css, React, Angular'
 'Lowcode platformlar servicenow,pega'
 'Java, .Net, Python, JavaScript | Html | Css'
 'Java, JavaScript | Html | Css' 'Angular'
 '.Net, Go, JavaScript | Html | Css' 'Java, Go, Python'
 '.Net, Python, Angular' 'Unity' 'JavaScript | Html | Css, React'
 'Php, JavaScript | Html | Css, Flutter'
 'JavaScript | Html | Css, React, Vue'
 'Java, .Net, JavaScript | Html | Css' 'Php, JavaScript | Html | Css, Vue'
 'Node.js' 'Php, Go, JavaScript | Html | Css, Vue, Angular' 'Kotlin'
 'JavaScript | Html | Css, Vue, Node.js' 'Php, Flutter' 'Java, React'
 'JavaScript | Html | Css, Angular'
 'Php, JavaScript | Html | Css, React, Vue' 'Java, .Net' 'Unity, C#'
 'sap abap' 'Java, Python' '.Net, JavaScript | Html | Css, Angular'
 'UiPath' 'React, Nodejs' 'Java, Kotlin'
 '.Net, JavaScript | Html | Css, Jquery' 'Go, Vue, Flutter' 'Ruby'
 'Go, Python' 'Flutter' 'Java, Vue' 'Php, Perl' 'Postman/SoapUı'
 'Java, .Net, JavaScript | Html | Css, React'
 'JavaScript | Html | Css, React, Angular'
 'Java, .Net, Php, Go, Ruby, Kotlin, Swift / Objective C, JavaScript | Html | Css, Flutter, React Native'
 'Java, Python, JavaScript | Html | Css, React' '.Net, Vue'
 'Php, Go, Python, Swift / Objective C, JavaScript | Html | Css, React, Vue, React Native'
 '.Net, JavaScript | Html | Css, React, React Native' '.Net, Vue, Angular'
 'Java, Kotlin, Swift / Objective C, React' '.Net, Node js' 'Php, React'
 'JavaScript | Html | Css, Vue, Flutter' 'Kotlin, JavaScript | Html | Css'
 'JavaScript | Html | Css, React, Vue, React Native'
 'Yazılım geliştirmiyorum' 'Ruby, React'
 '.Net, JavaScript | Html | Css, Angularjs,c#'
 'Java, Kotlin, Swift / Objective C' 'Python, JavaScript | Html | Css'
 'JavaScript | Html | Css, React, Nest.js'
 '.Net, Go, JavaScript | Html | Css, React, Angular' 'Python, SQL'
 'Delphi' 'Java, Go' 'Python, Ruby' 'React, React Native'
 'Python, C / C++' 'Php, JavaScript | Html | Css, Angular'
 'Java, .Net, Php, Python, Swift / Objective C, C / C++, JavaScript | Html | Css, React, Vue, Angular, React Native'
 'Java, .Net, Php, Go, Python, React, Angular, React Native, Unreal'
 'Java, Quick' '.Net, JavaScript | Html | Css, Angular, Delphi' '.Net, Go'
 'React Native' '.Net, JavaScript | Html | Css, Vue, Angular'
 '.Net, JavaScript | Html | Css, React, Vue, Angular'
 '.Net, JavaScript | Html | Css, Vue'
 '.Net, Php, C / C++, JavaScript | Html | Css' 'Python, React'
 '.Net, C / C++' 'Go, Python, Vue' 'Ruby, JavaScript | Html | Css, React'
 'Python, JavaScript | Html | Css, React' 'Java, .Net, C / C++'
 'Java, .Net, JavaScript | Html | Css, React, Vue'
 'Python, JavaScript | Html | Css, Jinja, Jquery'
 'Java, .Net, JavaScript | Html | Css, Vue, Angular'
 'JavaScript | Html | Css, Node.js' 'Oracle Apex / PL/SQL' 'Java, Php'
 'Java, Python, JavaScript | Html | Css'
 'Php, Go, JavaScript | Html | Css, Vue, Flutter' 'Swift'
 '.Net, C / C++, JavaScript | Html | Css, React' '.Net, React'
 'JavaScript | Html | Css, React Native' 'Java, React, Angular'
 'Java, Php, JavaScript | Html | Css, Vue' 'Java, .Net, Go, Kotlin' 'Vue'
 'React, NodeJS'
 'Java, Php, Go, Python, JavaScript | Html | Css, React Native'
 'Swift / Objective C, React Native' 'Php, Vue'
 'Ruby, JavaScript | Html | Css, React, React Native'
 'Java, Swift / Objective C, node' '.Net, Unity' '.Net, PL-SQL '
 '.Net, Php, JavaScript | Html | Css' '.Net, Php'
 'Kotlin, Swift / Objective C' 'Sql'
 '.Net, Php, JavaScript | Html | Css, Angular, nodejs' 'SQL'
 'JavaScript | Html | Css, Razor'
 'Java, Php, Python, JavaScript | Html | Css, React' 'Java, Unity'
 '.Net, Kotlin, JavaScript | Html | Css, Angular'
 'JavaScript | Html | Css, React, Rust' 'Java, .Net, Php, Go, Python'
 'React, Vue, Angular' '.Net, JavaScript | Html | Css, React Native'
 'JavaScript | Html | Css, React, Node.js'
 'gitlab ci,docker,openstack,grafana,Prometheus,'
 'Java, C / C++, JavaScript | Html | Css, Angular'
 '.Net, React, React Native'
 'JavaScript | Html | Css, React, React Native'
 '.Net, JavaScript | Html | Css, React, Vue, Angular, Flutter, React Native'
 '.Net, Python' '.Net, JavaScript | Html | Css, Flutter'
 '.Net, Go, JavaScript | Html | Css, React' 'Node'
 'Java, JavaScript | Html | Css, React' 'Go, Nodejs' 'C / C++, Unreal'
 'Java, Kotlin, Flutter' 'Java, Plsql'
 'Java, Python, C / C++, JavaScript | Html | Css, React, Angular'
 'Java, PL/SQL' 'Jira & confluence'
 'Java, Php, Kotlin, Swift / Objective C'
 'Java, JavaScript | Html | Css, Angular' 'Oracle PL/SQL'
 'Php, JavaScript | Html | Css, React' 'Java, React, React Native'
 '.Net, Kotlin, JavaScript | Html | Css, Vue, Angular'
 '.Net, C / C++, Unity' '.Net, Python, React, Vue, Angular'
 'Java, .Net, Go, Python, Vue' 'Java, Angular' 'It' '.Net, React, Angular'
 'Java, .Net, Apache, big data' '.Net, Python, C / C++' 'Java, C / C++'
 'Java, .Net, JavaScript | Html | Css, Bootstrap '
 'Python, React, Vue, Angular, React Native' 'Typescript'
 '.Net, JavaScript | Html | Css, React, Vue' 'ABAP'
 'Java, .Net, Php, Python' 'Php, Go, React, Vue, Flutter'
 'React, Vue, React Native' 'Java, JavaScript | Html | Css, Vue'
 'Php, Nodejs' 'Java, .Net, Python, C / C++, Unity'
 '.Net, Python, JavaScript | Html | Css, Vue'
 'Java, Kotlin, Swift / Objective C, Flutter'
 'Swift / Objective C, JavaScript | Html | Css, React, Angular, Flutter, React Native, Unity'
 'Python, Vue' 'Java, JavaScript | Html | Css, React Native'
 '.Net, Go, C / C++, JavaScript | Html | Css, Vue, Angular'
 'Java, Php, Python, JavaScript | Html | Css, Nodejs' 'Oracle'
 'Java, Kotlin, C / C++' 'JavaScript | Html | Css, Flutter, React Native'
 'Java, Php, JavaScript | Html | Css, React, Yoğunluklu js frameworks '
 'Java, .Net, Kotlin, Swift / Objective C, JavaScript | Html | Css'
 '.Net, C / C++, JavaScript | Html | Css, Vue' 'Java, React, Plsql'
 'Java, .Net, React' 'Java, JavaScript | Html | Css, Cobol '
 'Java, Go, Kotlin' '.Net, Vue, Flutter' 'Plsql '
 'Java, Php, Kotlin, JavaScript | Html | Css'
 '.Net, JavaScript | Html | Css, Unity' 'Java, Go, Python, Kotlin'
 'Java, Go, JavaScript | Html | Css, React, React Native' 'Python, Django'
 'Python, TensorFlow ' 'Java, Kotlin, JavaScript | Html | Css, React'
 'Java, Php, Go, Python, Kotlin, JavaScript | Html | Css, React'
 'Php, Python, Ruby, JavaScript | Html | Css, Angular'
 'Java, .Net, Python, Kotlin, C / C++, JavaScript | Html | Css, Angular, Flutter'
 'Java, .Net, Kotlin, Swift / Objective C' 'Scala' '.Net, Selenium'
 'Kotlin, Swift / Objective C, Flutter' 'Kotlin, C / C++'
 'React, Vue, Angular, Twig '
 'Php, JavaScript | Html | Css, React, Vue, React Native'
 'Python, JavaScript | Html | Css, Angular'
 '.Net, Python, Ruby, C / C++, JavaScript | Html | Css, React, Vue'
 '.Net, Python, React' 'Python, JavaScript | Html | Css, React, Vue'
 'Php, Go, Python, JavaScript | Html | Css'
 'Java, Kotlin, Swift / Objective C, JavaScript | Html | Css, React, Flutter'
 'Go, C / C++, Unreal' 'Vue, Angular, Flutter, React Native'
 'Php, JavaScript | Html | Css, React, Mysql' 'React Native, nodejs'
 'Java, .Net, Go, Kotlin, React, Vue' '.Net, Kotlin'
 '.Net, Python, JavaScript | Html | Css, React'
 'Php, Go, Python, React, Vue, Angular'
 'Ruby, JavaScript | Html | Css, Angular' '.Net, React, Flutter'
 '.Net, Go, Python' 'Sadece yazılım destek'
 'Java, .Net, Php, JavaScript | Html | Css, Vue, Angular'
 '.Net, React, React Native, Unity'
 '.Net, C / C++, JavaScript | Html | Css, React, Angular' 'NodeJs,NestJs'
 'Java, PL/SQL PRO C' 'Python, Tableau ' '.Net, Dart'
 'JavaScript | Html | Css, React, TypeScript' '.Net, Php, Angular'
 'Php, JavaScript | Html | Css, Flutter, Troia'
 'Java, Php, Python, Angular' 'Kotlin, Flutter'
 'Java, JavaScript | Html | Css, Jsf'
 'Java, Kotlin, JavaScript | Html | Css' 'Vue, Flutter'
 '.Net, C / C++, React'
 '.Net, Python, JavaScript | Html | Css, Vue, Flutter' 'Python, Bash'
 '.Net, NodeJs' 'Php, Go' 'C / C++, ARM Assembly'
 'JavaScript | Html | Css, Angular, Node.js' '.Net, Sql'
 'Java, JavaScript | Html | Css, React, Angular'
 'Java, Go, JavaScript | Html | Css'
 'JavaScript | Html | Css, React, Node '
 'Java, Swift / Objective C, React, React Native' 'Java, .Net, Kotlin'
 '.Net, Delphi' 'Sap' 'Java, Swift / Objective C' '.Net, Xamarin'
 'Php, Python, JavaScript | Html | Css, React, Vue, Angular'
 '.Net, Visual basic' '.Net, JavaScript | Html | Css, Abap'
 'React, Angular' '.Net, Go, Angular'
 'Java, Python, Swift / Objective C, JavaScript | Html | Css'
 'Network tools' '.Net, Winform' 'Java, .Net, JavaFx' 'Java, React Native'
 'Php, Go, JavaScript | Html | Css, Vue, Flutter, React Native'
 'React Native, Delphi' 'Nodejs' 'Elixir'
 'Java, Php, Go, JavaScript | Html | Css, Vue' 'Java, Sql, unix'
 'Python, Shell script' 'Python, JavaScript | Html | Css, Vue'
 'Devops araçları: docker terraform ansible kubrrnetes'
 'Java, .Net, Swift / Objective C' 'Vue, NodeJS' 'Flutter, Plsql'
 '.Net, JavaScript | Html | Css, ABAP, FIORI UI5'
 'Php, JavaScript | Html | Css, React, Vue, Angular, React Native'
 'Php, Python' 'Java, Python, Kotlin' '.Net, React, Vue, Angular, Flutter'
 'Php, Go, JavaScript | Html | Css' 'Java, Go, React'
 '.Net, JavaScript | Html | Css, React, Vue, Angular, Flutter'
 'JavaScript | Html | Css, React, Vue, Angular'
 '.Net, Swift / Objective C, Flutter, Unity' 'Go, JavaScript | Html | Css'
 'Soa' 'Swift / Objective C, C / C++' '.Net, Go, Vue'
 '.Net, JavaScript | Html | Css, Angular, Flutter'
 'Php, Go, JavaScript | Html | Css, React' 'Python, Angular'
 'Php, Python, JavaScript | Html | Css, React, Vue, React Native'
 'Php, Go, React, Vue' '.Net, JavaScript | Html | Css, Visual Basic'
 'Java, Python, React'
 'Java, Kotlin, Swift / Objective C, Vue, Angular, Flutter, Unity'
 'Java, Php, Python, Swift / Objective C, C / C++, JavaScript | Html | Css'
 'JavaScript | Html | Css, Node'
 'Php, Python, JavaScript | Html | Css, React'
 '.Net, Php, JavaScript | Html | Css, React'
 'Java, JavaScript | Html | Css, Hybris'
 'Java, Php, JavaScript | Html | Css, Angular' 'Java, .Net, Php'
 'Python, C / C++, JavaScript | Html | Css, React'
 'Php, JavaScript | Html | Css, React, Vue, NodeJS\\Typescript'
 'Python, Kotlin, Swift / Objective C' 'JavaScript | Html | Css, ABAP'
 'Ruby, JavaScript | Html | Css, Vue'
 'Php, Python, JavaScript | Html | Css' 'Java, Angular, Flutter'
 '.Net, Nodejs' 'Java, Scala'
 'Swift / Objective C, JavaScript | Html | Css, React, Flutter'
 'Go, Python, JavaScript | Html | Css' 'Python, scala' 'CS'
 'Java, .Net, C / C++, React' 'Swift / Objective C, Angular' 'Selenium'
 'JavaScript | Html | Css, Vue, Node , TS'
 'Java, .Net, JavaScript | Html | Css, React, Angular'
 'Java, .Net, Php, Swift / Objective C, JavaScript | Html | Css, Flutter'
 'Java, Python, Angular' 'JavaScript | Html | Css, Nodejs' 'Python, BASH'
 '.Net, Php, JavaScript | Html | Css, React, React Native' 'Abap' 'C#'
 'Ms Project, jira' 'Python, R, Matlab' 'Java, Flutter, React Native'
 'C / C++, Unity, Unreal'
 'Java, .Net, Php, JavaScript | Html | Css, React, Vue'
 'Java, .Net, C / C++, JavaScript | Html | Css, Angular'
 'Java, .Net, C / C++, Csharp' '.Net, Go, Kotlin'
 'Php, Go, Python, Swift / Objective C, JavaScript | Html | Css, React'
 '.Net, Kotlin, Angular' 'Abap fiori' 'Java, .Net, Go, Kotlin, React'
 '.Net, Php, Python, Ruby, C / C++'
 'Python, JavaScript | Html | Css, React, React Native'
 '.Net, JavaScript | Html | Css, C#   , Blazor '
 'C / C++, JavaScript | Html | Css' 'Unity, Unreal'
 'Java, .Net, Swift / Objective C, C / C++, JavaScript | Html | Css, Flutter'
 '.Net, Php, JavaScript | Html | Css, Vue, Flutter'
 'Java, .Net, Swift / Objective C, Vue, React Native'
 'JavaScript | Html | Css, React, GraphQL, NodeJs' '.Net, Go, node js'
 'Python, Sql' 'JavaScript | Html | Css, Vue, Nuxt.js'
 'Java, .Net, JavaScript | Html | Css, React, React Native'
 'Php, Go, Python, C / C++' 'SQL, QLIK' 'Java, Php, Go, Python' 'Bash'
 'Java, SQL' 'JavaScript | Html | Css, React, Vue, Angular, Threejs'
 'Java, Go, JavaScript | Html | Css, React'
 'Go, JavaScript | Html | Css, React'
 '.Net, JavaScript | Html | Css, Angular, DevExtreme'
 'JavaScript | Html | Css, React, Angular, nodejs'
 'C / C++, JavaScript | Html | Css, React' 'Ansible, bash'
 'Php, Python, Vue, Angular' '.Net, Python, React, Angular'
 'Php, JavaScript | Html | Css, Vue, Flutter'
 '.Net, JavaScript | Html | Css, React, Angular, React Native'
 'Visual Basic' 'Php, JavaScript | Html | Css, React, Vue, nodejs'
 '.Net, Python, JavaScript | Html | Css'
 'JavaScript | Html | Css, Troia, sql' 'Java, .Net, Vue, Angular'
 'Java, .Net, Python, C / C++, JavaScript | Html | Css, React Native'
 'Swift / Objective C, JavaScript | Html | Css, React, Vue, React Native'
 '.Net, Ruby, C / C++, JavaScript | Html | Css, Angular'
 'JavaScript | Html | Css, Rust'
 '.Net, JavaScript | Html | Css, React, Angular, Flutter'
 '.Net, Oracle forms,reports'
 'Php, JavaScript | Html | Css, React, React Native'
 'Php, Go, Python, JavaScript | Html | Css, Flutter, Unity'
 'Java, .Net, JavaScript | Html | Css, Angular'
 'Java, Php, Python, C / C++'
 '.Net, JavaScript | Html | Css, Vue, Flutter'
 '.Net, Php, JavaScript | Html | Css, Vue'
 'JavaScript | Html | Css, React, Angular, React Native'
 'Python, R, SQL, SSAS, SSRS, SSIS, Azure Cloud'
 'Python, C / C++, JavaScript | Html | Css'
 'Java, JavaScript | Html | Css, React, Vue'
 'Java, Kotlin, Swift / Objective C, React Native'
 'JavaScript | Html | Css, React, React Native, Nodejs'
 'Java, Go, Python, JavaScript | Html | Css, React, React Native'
 'Go, Python, C / C++' 'R + Power BI' 'NodeJS / TypeScript'
 'React, Angular, React Native' '.Net, Kotlin, React'
 'JavaScript | Html | Css, Coldfusion '
 'Java, .Net, Python, C / C++, React, React Native, Unreal'
 '.Net, Php, Go' 'Go, Swift / Objective C' nan
 'Java, .Net, Php, Python, C / C++, JavaScript | Html | Css'
 'Php, Go, Python' 'JavaScript | Html | Css, React, Node js'
 'Java, Php, Python' 'C / C++, matlab' 'Jdeveloper'
 'Java, .Net, Go, Python, C / C++, JavaScript | Html | Css, Angular, Flutter'
 'Php, JavaScript | Html | Css, Laravel codeigniter bootsrap jquery'
 'JavaScript | Html | Css, React, Vue, Angular, Flutter'
 'Java, .Net, Php, Go, Python, Ruby, Kotlin, Swift / Objective C, C / C++, JavaScript | Html | Css, React, Vue, Angular, Flutter, React Native, Unity, Unreal'
 'Linux' '.Net, JavaScript | Html | Css, React, Node'
 '.Net, Go, Kotlin, Swift / Objective C, Vue, Flutter'
 'Java, .Net, JavaScript | Html | Css, Mssql'
 'Python, C / C++, JavaScript | Html | Css, React, Bash'
 'Python, React, Angular' 'Python, Kotlin' '.Net, Python, Kotlin'
 'Java, Python, JavaScript | Html | Css, React, React Native'
 'React, Vue, Angular, React Native' 'Java, Python, Scala'
 'Java, .Net, JavaScript | Html | Css, Vue, Angular, Flutter' 'SQL '
 'Python, R' 'Php, Python, C / C++, JavaScript | Html | Css'
 '.Net, Angular, Flutter' 'Java, Php, Go' 'Python, React Native'
 'JavaScript | Html | Css, Flutter' 'Go, Vue'
 'Java, Php, JavaScript | Html | Css, React, Angular'
 'Php, Go, Python, Vue' 'Java, .Net, Python, C / C++, Angular'
 '.Net, JavaScript | Html | Css, Flutter, ABAP'
 'T-SQL,SSIS,SSAS,SSRS,Tableau'
 'Java, Kotlin, JavaScript | Html | Css, React, Vue'
 'Java, .Net, Php, Go, Python, Ruby, React'
 'JavaScript | Html | Css, pl/sql, oracle apex' '.Net, 1C Enterprise '
 'React Native, NodeJS' 'Ladder diagram' 'Java, Cobol '
 'Java, .Net, C / C++, Angular'
 'Java, .Net, JavaScript | Html | Css, Angular, Unity'
 'Java, .Net, React, Angular'
 'Java, .Net, Python, JavaScript | Html | Css, React, Flutter'
 'React, Flutter, React Native' 'sql' 'C / C++, Nginx '
 '.Net, C / C++, Pl/sql' 'Java, Go, Python, React'
 '.Net, Go, JavaScript | Html | Css, Typescript' 'Python, bash'
 'Php, JavaScript | Html | Css, React Native' 'Clojure' 'Test'
 'JavaScript | Html | Css, Pl-sql'
 'Php, Go, JavaScript | Html | Css, Angular'
 'JavaScript | Html | Css, node'
 'Java, Kotlin, Swift / Objective C, C / C++' 'Go, React' 'VB6.0'
 'Kotlin, Godot' '.Net, JavaScript | Html | Css, JQuery'
 'Swift / Objective C, Unity' 'Python, Swift / Objective C'
 '.Net, C / C++, Angular'
 'Go, JavaScript | Html | Css, React, Vue, Angular'
 '.Net, React, Vue, Angular' 'Php, React, React Native'
 'Php, JavaScript | Html | Css, React, Vue, Angular'
 'Java, Swift / Objective C, JavaScript | Html | Css, React'
 'C / C++, Unity' 'Go, C / C++, Flutter'
 'Java, .Net, JavaScript | Html | Css, React, Flutter' 'C / C++, Qt'
 '.Net, Python, Delphi' '.Net, Php, Python, Angular'
 'Java, Python, JavaScript | Html | Css, Vue'
 'Java, .Net, Swift / Objective C, JavaScript | Html | Css'
 'Ruby, Angular' 'Vue, Angular' '.Net, C / C++, JavaScript | Html | Css'
 'Java, .Net, Php, Python, C / C++, JavaScript | Html | Css, React, Angular, Flutter, Unity'
 'Java, C / C++, React' '.Net, Go, Node.js' 'Php, React Native'
 '.Net, Go, Kotlin, Swift / Objective C, JavaScript | Html | Css'
 'Flutter, g' 'Java, Python, C / C++, JavaScript | Html | Css, React'
 'Java, Php, Python, JavaScript | Html | Css, Vue' '.Net, React, Unity'
 'Java, Go, Kotlin, Swift / Objective C'
 'Go, Python, C / C++, JavaScript | Html | Css, React'
 'Java, Php, Python, React, Vue, Angular'
 'Php, Python, JavaScript | Html | Css, React, Angular' '.Net, Typescript'
 'Java, Python, Kotlin, JavaScript | Html | Css, React'
 'JavaScript | Html | Css, React, Next' 'C / C++, C#/.Net'
 'Java, Go, Kotlin, JavaScript | Html | Css, React, Angular'
 'Java, Php, Python, Kotlin, Swift / Objective C, JavaScript | Html | Css, React, Vue, React Native'
 'Java, JavaScript | Html | Css, NodeJs, typescript' 'Java, Php, Vue'
 'Python, JavaScript | Html | Css, Vue, Angular'
 'Java, JavaScript | Html | Css, Cobol'
 'Java, .Net, Python, Swift / Objective C, JavaScript | Html | Css'
 '.Net, Powershell' 'Java, .Net, Python, Kotlin'
 'Java, Python, JavaScript | Html | Css, Angular'
 '.Net, Swift / Objective C, React, Flutter, React Native'
 'K8s, terraform ' 'NodeJs'
 'Java, .Net, Php, Swift / Objective C, JavaScript | Html | Css, Angular'
 'Java, Python, Swift / Objective C, JavaScript | Html | Css, Flutter, React Native'
 'Python, SPSS Modeler' 'Java, Python, C / C++, Matlab, octave'
 '.Net, Kotlin, Swift / Objective C, JavaScript | Html | Css, React, React Native'
 '.Net, React Native' 'React, nextjs'

In [10]:
# Birbiri ile alakalı ve az sayılı pozisyon tiplerini birleştirdik. Daha anlamlı sonuçlar almamız için bu işlemi yapıyoruz.
# DATA SCIENTIST POZİSYONU İLE ALAKALI OLANLAR
ds= ["Data Scientist", "Machine Learning", "Data Analyst", "Data Engineer", "Computer Vision Engineer"]
for j in ds:
    df[df["POSITION"] == j]
    for i in df[df["POSITION"] == j].index:
        df["POSITION"][i] = "DATA SCIENTIST"

In [11]:
# DATABASE ADMIN  İLE ALAKALI OLANLAR
for i in df[df["POSITION"]=="SAP/ABAP/ERP Developer"].index:
    df["POSITION"][i] = "DATABASE ADMIN"

for i in df[df["POSITION"]=="Database Administrator"].index:
    df["POSITION"][i] = "DATABASE ADMIN"

for i in df[df["POSITION"]=="SysAdmin"].index:
    df["POSITION"][i] = "DATABASE ADMIN"

In [12]:
#SAYILARI ÇOK AZ OLAN POZİSYONLAR
diger=["Project & Product Manager / PO", "Support Engineer", "Business Analyst", "RPA Developer", "IT Specialist", "R&D Engineer", "Security", "Consultant", "Seo Specialist", "Blockchain Developer"]
for j in diger:
    df[df["POSITION"] == j]
    for i in df[df["POSITION"] == j].index:
        df["POSITION"][i] = "Other"

In [13]:
df.iloc[1015:1030]

       LEVEL                      POSITION                           TECH_STACK       EXPERIENCE GENDER    COMPANY    COMPANY_SIZE                                          WORK_TYPE       CITY         CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY
1015  Junior          Full Stack Developer                                 .Net        1 - 3 Yıl  Erkek   Kurumsal    10 - 25 Kişi                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN  10.000 TL - 10.999 TL
1016  Middle          Full Stack Developer        .Net, JavaScript | Html | Css        5 - 7 Yıl  Kadın   Kurumsal            250+                             Hibrit (Ofis + Remote)   İstanbul  ₺ - Türk Lirası                       NaN  14.000 TL - 14.999 TL
1017  Middle            Back-end Developer                                 Java        1 - 3 Yıl  Kadın   Kurumsal            250+                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
1018  Middle           Front-end Developer  JavaScript | Html | Css, React, Vue        1 - 3 Yıl  Erkek    Startup    25 - 50 Kişi  Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis ...   İstanbul  ₺ - Türk Lirası                       NaN    9.000 TL - 9.999 TL
1019  Middle            Back-end Developer                                  Php        0 - 1 Yıl  Erkek   Kurumsal   50 - 100 Kişi                                               Ofis  Yurt Dışı  ₺ - Türk Lirası                       NaN    8.000 TL - 8.999 TL
1020  Middle          Full Stack Developer                                 Java        3 - 5 Yıl  Erkek       Kobi            250+  Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis ...   İstanbul  ₺ - Türk Lirası                       NaN  14.000 TL - 14.999 TL
1021  Senior                         Other                      Java, Sql, unix       7 - 10 Yıl  Erkek      Diğer            250+            Pandemi Nedeniyle; Geçici Olarak Remote   İstanbul  ₺ - Türk Lirası                       NaN  20.000 TL - 20.999 TL
1022  Middle               DevOps Engineer                 Python, Shell script        5 - 7 Yıl  Erkek  E-Ticaret            250+                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN  20.000 TL - 20.999 TL
1023  Senior          Full Stack Developer                                 .Net        5 - 7 Yıl  Erkek   Kurumsal            250+                                             Remote      İzmir  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL
1024  Junior  Mobile Application Developer                  Swift / Objective C        0 - 1 Yıl  Erkek   Kurumsal  100 - 250 Kişi                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN    5.000 TL - 5.999 TL
1025  Senior  Mobile Application Developer                  Swift / Objective C       7 - 10 Yıl  Erkek   Kurumsal            250+            Pandemi Nedeniyle; Geçici Olarak Remote   İstanbul  ₺ - Türk Lirası                       NaN  24.000 TL - 24.999 TL
1026  Senior          Full Stack Developer                                 .Net       7 - 10 Yıl  Erkek   Kurumsal            250+                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN  26.000 TL - 26.999 TL
1027  Senior            Back-end Developer                                 Ruby  15 Yıl ve üzeri  Erkek  E-Ticaret    25 - 50 Kişi                             Hibrit (Ofis + Remote)      İzmir  ₺ - Türk Lirası                       NaN  20.000 TL - 20.999 TL
1028  Senior            Back-end Developer                                 .Net        5 - 7 Yıl  Erkek    Startup    10 - 25 Kişi                                             Remote     Ankara  ₺ - Türk Lirası                       NaN  17.000 TL - 17.999 TL
1029  Middle            Back-end Developer                               Python        1 - 3 Yıl  Erkek    Startup    10 - 25 Kişi                                             Remote   İstanbul  ₺ - Türk Lirası                       NaN  12.000 TL - 12.999 TL

In [14]:
#tüm pozisyon isimlendirmeleri standart hale gelsin diye büyük harf yaptık.
df["POSITION"] = [i.upper() for i in df["POSITION"]]

In [15]:
df["POSITION"].value_counts()

FULL STACK DEVELOPER              1442
BACK-END DEVELOPER                1290
FRONT-END DEVELOPER                578
MOBILE APPLICATION DEVELOPER       453
TEAM / TECH LEAD                   296
DATA SCIENTIST                     150
SOFTWARE DEVELOPMENT MANAGER       149
SOFTWARE ARCHITECT                 126
EMBEDDED SOFTWARE DEVELOPER        118
QA / TEST AUTOMATION DEVELOPER      96
DEVOPS ENGINEER                     96
GAME DEVELOPER                      89
OTHER                               63
CTO                                 51
DATABASE ADMIN                      33
Name: POSITION, dtype: int64

In [16]:
df["WORK_TYPE"].value_counts()

Remote                                                     1960
Hibrit (Ofis + Remote)                                     1395
Ofis                                                        803
Pandemi Nedeniyle; Geçici Olarak Remote                     548
Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis + Remote)     324
Name: WORK_TYPE, dtype: int64

In [17]:
# Okunaklılık için pandemi nedeniyle ibareleri silindi.
for i in df[df["WORK_TYPE"]=="Pandemi Nedeniyle; Geçici Olarak Hibrit (Ofis + Remote)"].index:
    df["WORK_TYPE"][i] = "Geçici Hibrit"

for i in df[df["WORK_TYPE"]=="Pandemi Nedeniyle; Geçici Olarak Remote"].index:
    df["WORK_TYPE"][i] = "Geçici Remote"

for i in df[df["WORK_TYPE"]=="Hibrit (Ofis + Remote)"].index:
    df["WORK_TYPE"][i] = "Hibrit"

In [18]:
df["WORK_TYPE"].value_counts()

Remote           1960
Hibrit           1395
Ofis              803
Geçici Remote     548
Geçici Hibrit     324
Name: WORK_TYPE, dtype: int64

In [19]:
df["COMPANY"].value_counts()

Kurumsal                   2463
Startup                    1152
E-Ticaret                   594
Outsource                   370
Dijital / Reklam Ajansı     146
Oyun                        104
Diğer                        91
Yazılım & Teknoloji          33
Fintech / Finans             18
Kamu                         16
Kobi                         14
Savunma & Güvenlik            8
Danışmanlık                   7
Telekomünikasyon              6
Banka                         5
kamu                          1
kobi                          1
diğer                         1
Name: COMPANY, dtype: int64

In [20]:
#SAYISI ÇOK AZ VEYA BENZER OLAN COMPANY KOLONLARINI BİRLEŞTİRDİK.
list_company= ["diğer", "kobi", "kamu", "Banka", "Telekomünikasyon","Danışmanlık","Savunma & Güvenlik","Kobi","Kamu","Diğer"]
for i in list_company:
    df[df["COMPANY"] == i]
    for j in df[df["COMPANY"] == i].index:
        df["COMPANY"][j] = "Diger"

In [21]:
df["COMPANY"].value_counts()

Kurumsal                   2463
Startup                    1152
E-Ticaret                   594
Outsource                   370
Diger                       150
Dijital / Reklam Ajansı     146
Oyun                        104
Yazılım & Teknoloji          33
Fintech / Finans             18
Name: COMPANY, dtype: int64

In [22]:
#TL OLAN MAAŞLARI DÜZENLİYORUZ.
num=[]

for item in df["SALARY_FOR_TL_CURRENCY"]:
    if item:
        num.append(str(item).split(" "))

In [23]:
# TL tipinden minimum maaş bilgilerini aldık. NaN ifadeler yerine 0 atadım.Değerleri doğru almak için 1000 ile çarptık
num1=[]
for i in range(0,len(num)):
    if num[i][0]=="nan":
        num1.append(0)
    else:
        num1.append(float(num[i][0])*1000)

In [24]:
# TL tipinden maximum maaş bilgilerini aldım,
# NaN ifadeler yerine 0 atadım, doğru değerleri elde etmek için 1000 ile çarptım.
# Max ve Min değerleri aynı olmasın diye içerisinde üzeri yazan değerlerin üst sınırını 60000 tl aldım.
num2=[]
for i in range(0,len(num)):
    if num[i][0]=="nan":
        num2.append(0)
    elif (num[i][3])=='üzeri':
        num2.append(60000.0)
    else:
        num2.append(float(num[i][3])*1000)

In [25]:
# veri setimize min tl ve max tl kazançlarını gösteren kolonları ekledik.
df["MIN_TL"]=num1

df["MAX_TL"]=num2

In [26]:
# TL dışındaki para birimlerini parçaladım.
cur=[]

for item in df["SALARY_FOR_OTHER_CURRENCY"]:
    if item:
        cur.append(str(item).split(" "))

In [27]:
# Döviz tipi min maaş bilgilerini çektim.1000 ile çarptım. yanlış girilen 1.0 YERİNE 1000 döviz birimini aynı bıraktım
cur1=[]
for i in range(0,len(cur)):
    if cur[i][0]=="nan":
        cur1.append(0)
    elif cur[i][0]=="1000":
        cur1.append(float(cur[i][0]))
    else:
        cur1.append(float(cur[i][0])*1000)

In [28]:
# Döviz tipi max maaş bilgilerini çektim.1000 ile çarptım. Üst sınırı 10999 kabul ettim.(TL de 60000 almıştım.)
cur2=[]
for i in range(0,len(cur)):
    if cur[i][0]=="nan":
        cur2.append(0)
    elif (cur[i][2])=='üzeri':
        cur2.append(10999)#float(cur[i][0])
    else:
        cur2.append(float(cur[i][2])*1000)

In [29]:
df["CUR_MIN"]=cur1
df["CUR_MAX"]=cur2

In [30]:
df.head()

    LEVEL              POSITION                                         TECH_STACK EXPERIENCE GENDER    COMPANY  COMPANY_SIZE      WORK_TYPE      CITY         CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY   MIN_TL   MAX_TL  CUR_MIN  CUR_MAX
0  Middle    BACK-END DEVELOPER                                                Php  3 - 5 Yıl  Erkek    Startup  25 - 50 Kişi         Hibrit  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL  15000.0  15999.0      0.0      0.0
1  Junior   FRONT-END DEVELOPER                                              React  0 - 1 Yıl  Erkek    Startup  10 - 25 Kişi         Hibrit  İstanbul  ₺ - Türk Lirası                       NaN    8.000 TL - 8.999 TL   8000.0   8999.0      0.0      0.0
2  Middle    BACK-END DEVELOPER                                               .Net  1 - 3 Yıl  Erkek  Outsource  10 - 25 Kişi         Remote  İstanbul  ₺ - Türk Lirası                       NaN  15.000 TL - 15.999 TL  15000.0  15999.0      0.0      0.0
3  Junior  FULL STACK DEVELOPER  Java, JavaScript | Html | Css, React, React Na...  1 - 3 Yıl  Erkek    Startup  10 - 25 Kişi         Hibrit  İstanbul  ₺ - Türk Lirası                       NaN  10.000 TL - 10.999 TL  10000.0  10999.0      0.0      0.0
4  Junior    BACK-END DEVELOPER                      .Net, JavaScript | Html | Css  0 - 1 Yıl  Erkek   Kurumsal          250+  Geçici Hibrit   Kocaeli  ₺ - Türk Lirası                       NaN    5.000 TL - 5.999 TL   5000.0   5999.0      0.0      0.0

In [31]:
df["CURRENCY"].value_counts()

₺ - Türk Lirası    4493
$ - Dolar           290
€ - Euro            200
£ - Sterlin          47
Name: CURRENCY, dtype: int64

In [32]:
df.loc[df["CURRENCY"] == '₺ - Türk Lirası', "CURRENCY"] = "TRY"
df.loc[df["CURRENCY"] == '$ - Dolar', "CURRENCY"] = "USD"
df.loc[df["CURRENCY"] == '€ - Euro', "CURRENCY"] = "EUR"
df.loc[df["CURRENCY"] == '£ - Sterlin', "CURRENCY"] = "GBP"

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LEVEL                      5030 non-null   object
 1   POSITION                   5030 non-null   object
 2   TECH_STACK                 5029 non-null   object
 3   EXPERIENCE                 5030 non-null   object
 4   GENDER                     5030 non-null   object
 5   COMPANY                    5030 non-null   object
 6   COMPANY_SIZE               5030 non-null   object
 7   WORK_TYPE                  5030 non-null   object
 8   CITY                       5030 non-null   object
 9   CURRENCY                   5030 non-null   object
 10  SALARY_FOR_OTHER_CURRENCY  533 non-null    object
 11  SALARY_FOR_TL_CURRENCY     4493 non-null   object
 12  MIN_TL                     5030 non-null   float64
 13  MAX_TL                     5030 non-null   float64
 14  CUR_MIN                    5030 non-null   float64
 15  CUR_MAX                    5030 non-null   float64
dtypes: float64(4), object(12)
memory usage: 628.9+ KB

In [34]:
#12 Aralık 2022 tarihli Sterlin Dolar ve Euro kurlarıyla Döviz cinsi TL ye çevrildi.
# >>>>Bu değerler 0 olan MIN_TL lere atandı.
#bu şekilde tüm maaş değerleri TL olarak kıyaslanabilecek noktasına geldik.
(df.loc[df["CURRENCY"]=="GBP","MIN_TL"])=(df.loc[df["CURRENCY"]=="GBP"]["CUR_MIN"]*22.56)
(df.loc[df["CURRENCY"]=="USD","MIN_TL"])=(df.loc[df["CURRENCY"]=="USD"]["CUR_MIN"]*18.63)
(df.loc[df["CURRENCY"]=="EUR","MIN_TL"])=(df.loc[df["CURRENCY"]=="EUR"]["CUR_MIN"]*19.47)

In [35]:
#BENZER İŞLEMİ MAX_TL İÇİN DE YAPIYORUZ
(df.loc[df["CURRENCY"]=="GBP","MAX_TL"])=(df.loc[df["CURRENCY"]=="GBP"]["CUR_MAX"]*22.56)+(df.loc[df["CURRENCY"]=="GBP"]["MAX_TL"])
(df.loc[df["CURRENCY"]=="USD","MAX_TL"])=(df.loc[df["CURRENCY"]=="USD"]["CUR_MAX"]*18.63)+(df.loc[df["CURRENCY"]=="USD"]["MAX_TL"])
(df.loc[df["CURRENCY"]=="EUR","MAX_TL"])=(df.loc[df["CURRENCY"]=="EUR"]["CUR_MAX"]*19.47)+(df.loc[df["CURRENCY"]=="EUR"]["MAX_TL"])

In [37]:
df.sample(7).sort_index()

       LEVEL                     POSITION                                         TECH_STACK       EXPERIENCE GENDER    COMPANY    COMPANY_SIZE      WORK_TYPE       CITY CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY   MIN_TL    MAX_TL  CUR_MIN  CUR_MAX
731   Middle         FULL STACK DEVELOPER                     JavaScript | Html | Css, React        0 - 1 Yıl  Erkek    Startup    10 - 25 Kişi         Remote  Yurt Dışı      USD             2.000 - 2.999                    NaN  37260.0  55871.37   2000.0   2999.0
1190  Middle           BACK-END DEVELOPER                                               Java        1 - 3 Yıl  Kadın    Startup    10 - 25 Kişi         Hibrit   İstanbul      TRY                       NaN    8.000 TL - 8.999 TL   8000.0   8999.00      0.0      0.0
1737  Senior           BACK-END DEVELOPER                                               .Net      10 - 14 Yıl  Erkek  E-Ticaret     1 - 10 Kişi  Geçici Hibrit   İstanbul      TRY                       NaN  22.000 TL - 22.999 TL  22000.0  22999.00      0.0      0.0
1743  Middle         FULL STACK DEVELOPER                                               .Net        3 - 5 Yıl  Erkek   Kurumsal  100 - 250 Kişi         Hibrit   İstanbul      TRY                       NaN  12.000 TL - 12.999 TL  12000.0  12999.00      0.0      0.0
2842  Senior         FULL STACK DEVELOPER                                               .Net       7 - 10 Yıl  Erkek  Outsource   50 - 100 Kişi           Ofis     Ankara      TRY                       NaN  21.000 TL - 21.999 TL  21000.0  21999.00      0.0      0.0
3634  Senior          FRONT-END DEVELOPER  Php, Go, JavaScript | Html | Css, React, React...  15 Yıl ve üzeri  Erkek    Startup     1 - 10 Kişi         Hibrit    Kocaeli      TRY                       NaN  22.000 TL - 22.999 TL  22000.0  22999.00      0.0      0.0
3895  Middle  EMBEDDED SOFTWARE DEVELOPER                                    Python, C / C++        3 - 5 Yıl  Erkek    Startup  100 - 250 Kişi           Ofis   İstanbul      TRY                       NaN  20.000 TL - 20.999 TL  20000.0  20999.00      0.0      0.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LEVEL                      5030 non-null   object
 1   POSITION                   5030 non-null   object
 2   TECH_STACK                 5029 non-null   object
 3   EXPERIENCE                 5030 non-null   object
 4   GENDER                     5030 non-null   object
 5   COMPANY                    5030 non-null   object
 6   COMPANY_SIZE               5030 non-null   object
 7   WORK_TYPE                  5030 non-null   object
 8   CITY                       5030 non-null   object
 9   CURRENCY                   5030 non-null   object
 10  SALARY_FOR_OTHER_CURRENCY  533 non-null    object
 11  SALARY_FOR_TL_CURRENCY     4493 non-null   object
 12  MIN_TL                     5030 non-null   float64
 13  MAX_TL                     5030 non-null   float64
 14  CUR_MIN                    5030 non-null   float64
 15  CUR_MAX                    5030 non-null   float64
dtypes: float64(4), object(12)
memory usage: 628.9+ KB

In [39]:
df.describe().T

          count          mean           std  min      25%      50%      75%        max
MIN_TL   5030.0  22662.206759  27404.429428  0.0  10000.0  15000.0  24000.0  225600.00
MAX_TL   5030.0  25691.419153  31744.874859  0.0  10999.0  15999.0  24999.0  248137.44
CUR_MIN  5030.0    430.218688   1534.452668  0.0      0.0      0.0      0.0   10000.00
CUR_MAX  5030.0    536.076938   1793.810349  0.0      0.0      0.0      0.0   10999.00

In [40]:
df.isnull().sum()

LEVEL                           0
POSITION                        0
TECH_STACK                      1
EXPERIENCE                      0
GENDER                          0
COMPANY                         0
COMPANY_SIZE                    0
WORK_TYPE                       0
CITY                            0
CURRENCY                        0
SALARY_FOR_OTHER_CURRENCY    4497
SALARY_FOR_TL_CURRENCY        537
MIN_TL                          0
MAX_TL                          0
CUR_MIN                         0
CUR_MAX                         0
dtype: int64

In [41]:
df.loc[df["MIN_TL"]==df["MIN_TL"].min()].index

Int64Index([870, 1665, 3326, 4973], dtype='int64')

In [42]:
#maaş bilgisi hiç girilmemiş kişileri sildik.
df=df.drop(df.loc[df["MIN_TL"]==df["MIN_TL"].min()].index)

In [43]:
df.describe().T

          count          mean           std     min      25%      50%      75%        max
MIN_TL   5026.0  22680.242738  27407.871564  5000.0  10000.0  15000.0  24000.0  225600.00
MAX_TL   5026.0  25711.865965  31749.227207  5999.0  10999.0  15999.0  24999.0  248137.44
CUR_MIN  5026.0    430.561082   1535.015246     0.0      0.0      0.0      0.0   10000.00
CUR_MAX  5026.0    536.503581   1794.460372     0.0      0.0      0.0      0.0   10999.00

In [44]:
df.sample(5).sort_index()

       LEVEL                      POSITION                    TECH_STACK  EXPERIENCE GENDER    COMPANY    COMPANY_SIZE      WORK_TYPE      CITY CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY   MIN_TL   MAX_TL  CUR_MIN  CUR_MAX
1259  Senior           FRONT-END DEVELOPER  JavaScript | Html | Css, Vue   3 - 5 Yıl  Erkek   Kurumsal    25 - 50 Kişi         Hibrit  İstanbul      TRY                       NaN  18.000 TL - 18.999 TL  18000.0  18999.0      0.0      0.0
2012  Middle                DATA SCIENTIST  T-SQL,SSIS,SSAS,SSRS,Tableau   3 - 5 Yıl  Erkek  E-Ticaret            250+  Geçici Remote  İstanbul      TRY                       NaN  12.000 TL - 12.999 TL  12000.0  12999.0      0.0      0.0
3795  Middle  MOBILE APPLICATION DEVELOPER                  Java, Kotlin   3 - 5 Yıl  Erkek   Kurumsal            250+  Geçici Remote  İstanbul      TRY                       NaN  13.000 TL - 13.999 TL  13000.0  13999.0      0.0      0.0
3825  Senior  MOBILE APPLICATION DEVELOPER           Swift / Objective C  7 - 10 Yıl  Erkek  E-Ticaret  100 - 250 Kişi         Remote  İstanbul      TRY                       NaN  34.000 TL - 34.999 TL  34000.0  34999.0      0.0      0.0
4932  Middle          FULL STACK DEVELOPER                          .Net   5 - 7 Yıl  Erkek   Kurumsal            250+         Remote  İstanbul      TRY                       NaN  13.000 TL - 13.999 TL  13000.0  13999.0      0.0      0.0

In [45]:
# Hedef değişkenimizi oluşturuyoruz
df["SALARY_AVG_TL"] = (df["MIN_TL"] + df["MAX_TL"]) / 2
df["SALARY_AVG_TL"] = df["SALARY_AVG_TL"].astype("int")

In [46]:
df.columns

Index(['LEVEL', 'POSITION', 'TECH_STACK', 'EXPERIENCE', 'GENDER', 'COMPANY', 'COMPANY_SIZE', 'WORK_TYPE', 'CITY', 'CURRENCY', 'SALARY_FOR_OTHER_CURRENCY', 'SALARY_FOR_TL_CURRENCY', 'MIN_TL', 'MAX_TL', 'CUR_MIN', 'CUR_MAX', 'SALARY_AVG_TL'], dtype='object')

In [47]:
df.sample(5).sort_index()

       LEVEL                      POSITION                                         TECH_STACK       EXPERIENCE GENDER    COMPANY  COMPANY_SIZE      WORK_TYPE      CITY CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY   MIN_TL   MAX_TL  CUR_MIN  CUR_MAX  SALARY_AVG_TL
791   Senior            SOFTWARE ARCHITECT                                        Java, React  15 Yıl ve üzeri  Erkek   Kurumsal          250+         Remote  İstanbul      TRY                       NaN  25.000 TL - 25.999 TL  25000.0  25999.0      0.0      0.0          25499
1425  Middle  MOBILE APPLICATION DEVELOPER                                Swift / Objective C        3 - 5 Yıl  Erkek   Kurumsal          250+  Geçici Remote  İstanbul      TRY                       NaN  19.000 TL - 19.999 TL  19000.0  19999.0      0.0      0.0          19499
3942  Junior           FRONT-END DEVELOPER                     JavaScript | Html | Css, React        0 - 1 Yıl  Kadın  E-Ticaret          250+  Geçici Remote  İstanbul      TRY                       NaN  16.000 TL - 16.999 TL  16000.0  16999.0      0.0      0.0          16499
4146  Senior           FRONT-END DEVELOPER                     JavaScript | Html | Css, React       7 - 10 Yıl  Erkek    Startup  25 - 50 Kişi         Remote  İstanbul      TRY                       NaN  20.000 TL - 20.999 TL  20000.0  20999.0      0.0      0.0          20499
4224  Senior  SOFTWARE DEVELOPMENT MANAGER  Java, .Net, Php, Go, Kotlin, JavaScript | Html...  15 Yıl ve üzeri  Erkek      Diger  25 - 50 Kişi  Geçici Hibrit  İstanbul      TRY                       NaN  22.000 TL - 22.999 TL  22000.0  22999.0      0.0      0.0          22499

In [48]:
df["CITY"].unique()

array(['İstanbul', 'Kocaeli', 'Yurt Dışı', 'Ankara', 'Sydney', 'Kocaeli ',
       'İzmir', 'Gaziantep', 'Konya', 'Bolu', 'Kayseri ', 'Malatya',
       'Antalya', 'Diğer', 'Krakow', 'Miami', 'Muğla', 'Eskişehir',
       'İngiltere', 'Denizli', 'Çanakkale', 'Düsseldorf ', 'Düzce',
       'Edirne', 'Bursa', 'Köln', 'Samsun', 'Amsterdam', 'Hatay', 'Çorum',
       'Antalya ', 'Kırklareli ', 'Adana', 'Eskişehir ', 'Belçika',
       'Stuttgart ', 'Luxembourg', 'Tokat', 'Utrecht', 'Isviçre',
       'Seattle', 'Nürnberg', 'Kayseri', 'Mersin ', 'Tekirdağ',
       'San Fransisco', 'Sakarya', 'Londra', 'Stokholm', 'Tallinn', 'ABD',
       'Yalova', 'kocaeli', 'Şanlıurfa', 'Anadolu', 'Berlin', 'Trabzon',
       'Mersin', 'Bandırma', 'Washington', 'Şırnak', 'Erzurum',
       'amsterdam', 'Zonguldak', 'Singapur', 'Manisa', 'Sakarya ',
       'Kaliforniya', 'Kütahya', 'Kahramanmaraş', 'Niğde', 'Aydın',
       'kayseri', 'Ukrayna ', 'Paris', 'Ordu', 'Elazığ', 'İtalya',
       'Londra ', 'Letonya', 'Kahramanmaraş ', 'Sivas', 'Dubai',
       'Berlin ', 'İzmit', 'Indianapolis', 'costarica', 'elazığ',
       'Bratislava ', 'bursa', 'Edremit', 'Zurich', 'Sofia', 'hatay',
       'Dublin', 'Almanya', 'Diyarbakır', 'Erzurum ', 'İsviçre', 'Uşak',
       'Kiev', 'Los Angeles', 'Şanlıurfa ', 'çorum', 'Kırşehir',
       'Kopenhag ', 'texas', 'Gaziantep ', 'antalya', 'Isparta',
       'trabzon', 'Bayburt ', 'Palo Alto', 'aydin', 'Amsterdam ',
       'New York', 'KKTC', 'MISIR', 'Karabük', 'Montreuil', 'Amasya',
       'Kütahya ', 'edirne', 'Helsinki', 'Eskisehir', 'sakarya',
       'Adıyaman', 'Afyon', 'Erzincan', 'Varşova', 'Irvine', 'Brüksel',
       'Siirt', 'ESKİŞEHİR', 'Kastamonu', 'Kuzey Amerika', 'Malatya ',
       'adana', 'Alanya ', 'Oslo', 'DENİZLİ', 'Trabzon ', 'Tekirdağ ',
       'Münih', 'Konya ', 'Connecticut', 'Samsun '], dtype=object)

In [49]:
#Şehirleri yurt dışı ve yurt içi olarak güncelleyelim
ydisi=['Yurt Dışı', 'Sydney', 'Krakow', 'Miami', 'İngiltere', 'Düsseldorf ', 'Köln', 'Amsterdam', 'Belçika', 'Stuttgart ', 'Luxembourg', 'Utrecht', 'Isviçre', 'Seattle',
       'Nürnberg', 'San Fransisco', 'Londra', 'Stokholm', 'Tallinn', 'ABD', 'Berlin', 'Washington', 'amsterdam', 'Singapur', 'Kaliforniya', 'Ukrayna ', 'Paris', 'İtalya', 
       'Londra ', 'Letonya', 'Dubai', 'Berlin ', 'Indianapolis', 'costarica', 'Bratislava ', 'Zurich', 'Sofia', 'Dublin', 'Almanya', 'İsviçre', 'Kiev', 'Los Angeles', 'Kopenhag ', 'texas',
       'Palo Alto', 'Amsterdam ', 'New York', 'KKTC', 'MISIR', 'Montreuil', 'Helsinki', 'Varşova', 'Irvine', 'Brüksel', 'Kuzey Amerika', 'Oslo', 'Münih', 'Connecticut']

In [50]:
combine = lambda x: 'yurt_disi' if x in ydisi else 'yurt_ici'
df["CITY"] = df["CITY"].map(combine)

In [51]:
df["CITY"].unique()

array(['yurt_ici', 'yurt_disi'], dtype=object)

In [52]:
df.sample(5).sort_index()

       LEVEL                      POSITION                                  TECH_STACK EXPERIENCE GENDER    COMPANY  COMPANY_SIZE      WORK_TYPE      CITY CURRENCY SALARY_FOR_OTHER_CURRENCY SALARY_FOR_TL_CURRENCY   MIN_TL   MAX_TL  CUR_MIN  CUR_MAX  SALARY_AVG_TL
113   Junior            BACK-END DEVELOPER  Java, .Net, JavaScript | Html | Css, React  0 - 1 Yıl  Erkek  E-Ticaret          250+         Remote  yurt_ici      TRY                       NaN  12.000 TL - 12.999 TL  12000.0  12999.0      0.0      0.0          12499
515   Senior            BACK-END DEVELOPER                                         Php  5 - 7 Yıl  Erkek    Startup   1 - 10 Kişi         Remote  yurt_ici      TRY                       NaN  20.000 TL - 20.999 TL  20000.0  20999.0      0.0      0.0          20499
1435  Junior          FULL STACK DEVELOPER                               .Net, Angular  1 - 3 Yıl  Erkek   Kurumsal          250+         Hibrit  yurt_ici      TRY                       NaN  15.000 TL - 15.999 TL  15000.0  15999.0      0.0      0.0          15499
1827  Junior            BACK-END DEVELOPER                                  Java, .Net  0 - 1 Yıl  Erkek   Kurumsal          250+  Geçici Remote  yurt_ici      TRY                       NaN    6.000 TL - 6.999 TL   6000.0   6999.0      0.0      0.0           6499
4608  Middle  MOBILE APPLICATION DEVELOPER                         React, React Native  3 - 5 Yıl  Kadın    Startup  10 - 25 Kişi         Remote  yurt_ici      TRY                       NaN  11.000 TL - 11.999 TL  11000.0  11999.0      0.0      0.0          11499

In [53]:
#kullanmayacagımız degiskenleri df'ten cıkarıyorum
silcols=["TECH_STACK", "EXPERIENCE", "COMPANY_SIZE", "SALARY_FOR_OTHER_CURRENCY", "SALARY_FOR_TL_CURRENCY", "MIN_TL", "MAX_TL", "CUR_MIN", "CUR_MAX"]

In [54]:
df.drop(silcols, axis=1, inplace=True)

In [55]:
def grab_col_names(dataframe, cat_th=15, car_th=20):
    """

    Veri setindeki kategorik, numerik ve kategorik fakat kardinal değişkenlerin isimlerini verir.
    Not: Kategorik değişkenlerin içerisine numerik görünümlü kategorik değişkenler de dahildir.

    Parameters
    ------
        dataframe: dataframe
                Değişken isimleri alınmak istenilen dataframe
        cat_th: int, optional
                numerik fakat kategorik olan değişkenler için sınıf eşik değeri
        car_th: int, optinal
                kategorik fakat kardinal değişkenler için sınıf eşik değeri

    Returns
    ------
        cat_cols: list
                Kategorik değişken listesi
        num_cols: list
                Numerik değişken listesi
        cat_but_car: list
                Kategorik görünümlü kardinal değişken listesi

    Examples
    ------
        import seaborn as sns
        df = sns.load_dataset("iris")
        print(grab_col_names(df))


    Notes
    ------
        cat_cols + num_cols + cat_but_car = toplam değişken sayısı
        num_but_cat cat_cols'un içerisinde.
        Return olan 3 liste toplamı toplam değişken sayısına eşittir: cat_cols + num_cols + cat_but_car = değişken sayısı

    """

    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                   dataframe[col].dtypes != "O"]
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                   dataframe[col].dtypes == "O"]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')
    return cat_cols, num_cols, cat_but_car, num_but_cat

In [56]:
cat_cols, num_cols, cat_but_car, num_but_cat= grab_col_names(df)

Observations: 5026
Variables: 8
cat_cols: 7
num_cols: 1
cat_but_car: 0
num_but_cat: 0

In [57]:
df.head()

    LEVEL              POSITION GENDER    COMPANY      WORK_TYPE      CITY CURRENCY  SALARY_AVG_TL
0  Middle    BACK-END DEVELOPER  Erkek    Startup         Hibrit  yurt_ici      TRY          15499
1  Junior   FRONT-END DEVELOPER  Erkek    Startup         Hibrit  yurt_ici      TRY           8499
2  Middle    BACK-END DEVELOPER  Erkek  Outsource         Remote  yurt_ici      TRY          15499
3  Junior  FULL STACK DEVELOPER  Erkek    Startup         Hibrit  yurt_ici      TRY          10499
4  Junior    BACK-END DEVELOPER  Erkek   Kurumsal  Geçici Hibrit  yurt_ici      TRY           5499

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5026 entries, 0 to 5029
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LEVEL          5026 non-null   object
 1   POSITION       5026 non-null   object
 2   GENDER         5026 non-null   object
 3   COMPANY        5026 non-null   object
 4   WORK_TYPE      5026 non-null   object
 5   CITY           5026 non-null   object
 6   CURRENCY       5026 non-null   object
 7   SALARY_AVG_TL  5026 non-null   int32
dtypes: int32(1), object(7)
memory usage: 333.8+ KB

In [59]:
df[cat_cols].nunique()

LEVEL         3
POSITION     15
GENDER        2
COMPANY       9
WORK_TYPE     5
CITY          2
CURRENCY      4
dtype: int64

In [60]:
# Buraya kadar yaptığımız değişiklikleri bir csv dosyasına atalım
df.to_csv("data/step6.csv", encoding='utf-8', index=False)

In [61]:
# Sınıflar arası fark varsa (ordinal kategorik değişkenler)- Label Encoding
#le_col = "LEVEL"

# Sınıflar arası fark yoksa (nominal kategorik değişkenler) - One Hot Encoding
ohe_cols = ["POSITION", "GENDER", "COMPANY", "WORK_TYPE", "CITY", "CURRENCY"]

In [62]:
# Veri setimizin orijinaline dokunmamak için kopyasını oluşturalım
df_lab = df.copy(deep=True)

In [63]:
# Label Encoder nesnesi oluştur
lab = LabelEncoder()

# 'LEVEL' değişkenine label encoder uygula
df_lab["LEVEL"] = lab.fit_transform(df["LEVEL"])

In [64]:
df_lab.drop(["POSITION", "GENDER", "COMPANY", "WORK_TYPE", "CITY", "CURRENCY", "SALARY_AVG_TL"], axis=1, inplace=True)
df_lab.head(20)

    LEVEL
0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       1
9       2
10      2
11      0
12      2
13      0
14      2
15      0
16      2
17      1
18      2
19      0

In [ ]:
# Time machine ..
# df_lab["LEVEL"] = lab.inverse_transform(df["LEVEL"])

In [65]:
# One-hot encoding işlemi için bir fonksiyon tanımlıyoruz
def one_hot_encoder(dataframe, categorical_cols, drop_first=False):
    dataframe = pd.get_dummies(dataframe, columns=categorical_cols, drop_first=drop_first)
    return dataframe
#drop_first=True yaparsak label encoder olarak kullanabiliriz,iki sınıflı kategorik degiskenleri de label encoder a sokabiliyor olacak

In [66]:
df_ohe = one_hot_encoder(df, ohe_cols, drop_first=True)

In [67]:
df_ohe.head()

    LEVEL  SALARY_AVG_TL  POSITION_CTO  POSITION_DATA SCIENTIST  POSITION_DATABASE ADMIN  POSITION_DEVOPS ENGINEER  POSITION_EMBEDDED SOFTWARE DEVELOPER  POSITION_FRONT-END DEVELOPER  POSITION_FULL STACK DEVELOPER  POSITION_GAME DEVELOPER  ...  COMPANY_Startup  COMPANY_Yazılım & Teknoloji  WORK_TYPE_Geçici Remote  WORK_TYPE_Hibrit  WORK_TYPE_Ofis  WORK_TYPE_Remote  CITY_yurt_ici  CURRENCY_GBP  CURRENCY_TRY  CURRENCY_USD
0  Middle          15499             0                        0                        0                         0                                     0                             0                              0                        0  ...                1                            0                        0                 1               0                 0              1             0             1             0
1  Junior           8499             0                        0                        0                         0                                     0                             1                              0                        0  ...                1                            0                        0                 1               0                 0              1             0             1             0
2  Middle          15499             0                        0                        0                         0                                     0                             0                              0                        0  ...                0                            0                        0                 0               0                 1              1             0             1             0
3  Junior          10499             0                        0                        0                         0                                     0                             0                              1                        0  ...                1                            0                        0                 1               0                 0              1             0             1             0
4  Junior           5499             0                        0                        0                         0                                     0                             0                              0                        0  ...                0                            0                        0                 0               0                 0              1             0             1             0

[5 rows x 33 columns]

In [68]:
# Ohe etmediğimiz sütunu düşürelim
df_ohe.drop("LEVEL", axis=1, inplace=True)

In [69]:
df_ohe.sample(7).sort_index()

      SALARY_AVG_TL  POSITION_CTO  POSITION_DATA SCIENTIST  POSITION_DATABASE ADMIN  POSITION_DEVOPS ENGINEER  POSITION_EMBEDDED SOFTWARE DEVELOPER  POSITION_FRONT-END DEVELOPER  POSITION_FULL STACK DEVELOPER  POSITION_GAME DEVELOPER  POSITION_MOBILE APPLICATION DEVELOPER  ...  COMPANY_Startup  COMPANY_Yazılım & Teknoloji  WORK_TYPE_Geçici Remote  WORK_TYPE_Hibrit  WORK_TYPE_Ofis  WORK_TYPE_Remote  CITY_yurt_ici  CURRENCY_GBP  CURRENCY_TRY  CURRENCY_USD
249           18499             0                        0                        0                         0                                     0                             1                              0                        0                                      0  ...                1                            0                        0                 0               0                 1              0             0             1             0
1816          14499             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                0                            0                        0                 1               0                 0              0             0             1             0
2042          28499             0                        0                        0                         0                                     0                             0                              0                        0                                      1  ...                0                            0                        0                 0               0                 1              1             0             1             0
3481          20499             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                0                            0                        0                 0               0                 1              1             0             1             0
4454           8499             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                0                            0                        0                 1               0                 0              1             0             1             0
4513          12499             0                        0                        0                         0                                     1                             0                              0                        0                                      0  ...                0                            0                        0                 0               1                 0              1             0             1             0
4922         195605             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                0                            0                        0                 0               0                 1              0             0             0             1

[7 rows x 32 columns]

In [70]:
# Rearrange columns
cols = df_ohe.columns.tolist()
cols

['SALARY_AVG_TL',
 'POSITION_CTO',
 'POSITION_DATA SCIENTIST',
 'POSITION_DATABASE ADMIN',
 'POSITION_DEVOPS ENGINEER',
 'POSITION_EMBEDDED SOFTWARE DEVELOPER',
 'POSITION_FRONT-END DEVELOPER',
 'POSITION_FULL STACK DEVELOPER',
 'POSITION_GAME DEVELOPER',
 'POSITION_MOBILE APPLICATION DEVELOPER',
 'POSITION_OTHER',
 'POSITION_QA / TEST AUTOMATION DEVELOPER',
 'POSITION_SOFTWARE ARCHITECT',
 'POSITION_SOFTWARE DEVELOPMENT MANAGER',
 'POSITION_TEAM / TECH LEAD',
 'GENDER_Kadın',
 'COMPANY_Dijital / Reklam Ajansı',
 'COMPANY_E-Ticaret',
 'COMPANY_Fintech / Finans',
 'COMPANY_Kurumsal',
 'COMPANY_Outsource',
 'COMPANY_Oyun',
 'COMPANY_Startup',
 'COMPANY_Yazılım & Teknoloji',
 'WORK_TYPE_Geçici Remote',
 'WORK_TYPE_Hibrit',
 'WORK_TYPE_Ofis',
 'WORK_TYPE_Remote',
 'CITY_yurt_ici',
 'CURRENCY_GBP',
 'CURRENCY_TRY',
 'CURRENCY_USD']

In [71]:
# Move the first element to the last position
cols = cols[1:] + cols[:1]
cols

['POSITION_CTO',
 'POSITION_DATA SCIENTIST',
 'POSITION_DATABASE ADMIN',
 'POSITION_DEVOPS ENGINEER',
 'POSITION_EMBEDDED SOFTWARE DEVELOPER',
 'POSITION_FRONT-END DEVELOPER',
 'POSITION_FULL STACK DEVELOPER',
 'POSITION_GAME DEVELOPER',
 'POSITION_MOBILE APPLICATION DEVELOPER',
 'POSITION_OTHER',
 'POSITION_QA / TEST AUTOMATION DEVELOPER',
 'POSITION_SOFTWARE ARCHITECT',
 'POSITION_SOFTWARE DEVELOPMENT MANAGER',
 'POSITION_TEAM / TECH LEAD',
 'GENDER_Kadın',
 'COMPANY_Dijital / Reklam Ajansı',
 'COMPANY_E-Ticaret',
 'COMPANY_Fintech / Finans',
 'COMPANY_Kurumsal',
 'COMPANY_Outsource',
 'COMPANY_Oyun',
 'COMPANY_Startup',
 'COMPANY_Yazılım & Teknoloji',
 'WORK_TYPE_Geçici Remote',
 'WORK_TYPE_Hibrit',
 'WORK_TYPE_Ofis',
 'WORK_TYPE_Remote',
 'CITY_yurt_ici',
 'CURRENCY_GBP',
 'CURRENCY_TRY',
 'CURRENCY_USD',
 'SALARY_AVG_TL']

In [72]:
# Apply it to the df
df_ohe = df_ohe[cols]

In [73]:
df_ohe.head()   # Bingo !

   POSITION_CTO  POSITION_DATA SCIENTIST  POSITION_DATABASE ADMIN  POSITION_DEVOPS ENGINEER  POSITION_EMBEDDED SOFTWARE DEVELOPER  POSITION_FRONT-END DEVELOPER  POSITION_FULL STACK DEVELOPER  POSITION_GAME DEVELOPER  POSITION_MOBILE APPLICATION DEVELOPER  POSITION_OTHER  ...  COMPANY_Yazılım & Teknoloji  WORK_TYPE_Geçici Remote  WORK_TYPE_Hibrit  WORK_TYPE_Ofis  WORK_TYPE_Remote  CITY_yurt_ici  CURRENCY_GBP  CURRENCY_TRY  CURRENCY_USD  SALARY_AVG_TL
0             0                        0                        0                         0                                     0                             0                              0                        0                                      0               0  ...                            0                        0                 1               0                 0              1             0             1             0          15499
1             0                        0                        0                         0                                     0                             1                              0                        0                                      0               0  ...                            0                        0                 1               0                 0              1             0             1             0           8499
2             0                        0                        0                         0                                     0                             0                              0                        0                                      0               0  ...                            0                        0                 0               0                 1              1             0             1             0          15499
3             0                        0                        0                         0                                     0                             0                              1                        0                                      0               0  ...                            0                        0                 1               0                 0              1             0             1             0          10499
4             0                        0                        0                         0                                     0                             0                              0                        0                                      0               0  ...                            0                        0                 0               0                 0              1             0             1             0           5499

[5 rows x 32 columns]

## Variance Inflation Factor (VIF)

One of the common ways to check for multicollinearity is the Variance Inflation Factor (VIF):

    VIF=1, Very Less Multicollinearity
    VIF<5, Moderate Multicollinearity
    VIF>5, Extreme Multicollinearity (This is what we have to avoid)

Compute the VIF scores:

In [74]:
cols2 = [col for col in cols if col != 'SALARY_AVG_TL']
cols2

['POSITION_CTO',
 'POSITION_DATA SCIENTIST',
 'POSITION_DATABASE ADMIN',
 'POSITION_DEVOPS ENGINEER',
 'POSITION_EMBEDDED SOFTWARE DEVELOPER',
 'POSITION_FRONT-END DEVELOPER',
 'POSITION_FULL STACK DEVELOPER',
 'POSITION_GAME DEVELOPER',
 'POSITION_MOBILE APPLICATION DEVELOPER',
 'POSITION_OTHER',
 'POSITION_QA / TEST AUTOMATION DEVELOPER',
 'POSITION_SOFTWARE ARCHITECT',
 'POSITION_SOFTWARE DEVELOPMENT MANAGER',
 'POSITION_TEAM / TECH LEAD',
 'GENDER_Kadın',
 'COMPANY_Dijital / Reklam Ajansı',
 'COMPANY_E-Ticaret',
 'COMPANY_Fintech / Finans',
 'COMPANY_Kurumsal',
 'COMPANY_Outsource',
 'COMPANY_Oyun',
 'COMPANY_Startup',
 'COMPANY_Yazılım & Teknoloji',
 'WORK_TYPE_Geçici Remote',
 'WORK_TYPE_Hibrit',
 'WORK_TYPE_Ofis',
 'WORK_TYPE_Remote',
 'CITY_yurt_ici',
 'CURRENCY_GBP',
 'CURRENCY_TRY',
 'CURRENCY_USD']

In [75]:
# the independent variables set
X = df_ohe[cols2]

# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]

print(vif_data)

                                    feature       VIF
0                              POSITION_CTO  1.053196
1                   POSITION_DATA SCIENTIST  1.123522
2                   POSITION_DATABASE ADMIN  1.028319
3                  POSITION_DEVOPS ENGINEER  1.072570
4      POSITION_EMBEDDED SOFTWARE DEVELOPER  1.144099
5              POSITION_FRONT-END DEVELOPER  0.162149
6             POSITION_FULL STACK DEVELOPER  0.236493
7                   POSITION_GAME DEVELOPER  2.031505
8     POSITION_MOBILE APPLICATION DEVELOPER  0.590554
9                            POSITION_OTHER  1.050237
10  POSITION_QA / TEST AUTOMATION DEVELOPER  1.085751
11              POSITION_SOFTWARE ARCHITECT  1.105423
12    POSITION_SOFTWARE DEVELOPMENT MANAGER  1.116972
13                POSITION_TEAM / TECH LEAD  0.165711
14                             GENDER_Kadın  0.045395
15          COMPANY_Dijital / Reklam Ajansı  1.592345
16                        COMPANY_E-Ticaret  0.474672
17                 COMPANY_Fintech / Finans  1.076275
18                         COMPANY_Kurumsal  0.698961
19                        COMPANY_Outsource  0.761794
20                             COMPANY_Oyun  2.306324
21                          COMPANY_Startup  0.626019
22              COMPANY_Yazılım & Teknoloji  1.138920
23                  WORK_TYPE_Geçici Remote  0.152043
24                         WORK_TYPE_Hibrit  0.373113
25                           WORK_TYPE_Ofis  0.135696
26                         WORK_TYPE_Remote  0.522100
27                            CITY_yurt_ici  0.154033
28                             CURRENCY_GBP  1.175118
29                             CURRENCY_TRY  1.067628
30                             CURRENCY_USD  0.247929

In [76]:
# Function to calculate VIF
def calculate_vif(data):
    vif_df = pd.DataFrame(columns = ['Var', 'Vif'])
    x_var_names = data.columns
    for i in range(0, x_var_names.shape[0]):
        y = data[x_var_names[i]]
        x = data[x_var_names.drop([x_var_names[i]])]
        r_squared = sm.OLS(y,x).fit().rsquared
        vif = round(1/(1-r_squared),2)
        vif_df.loc[i] = [x_var_names[i], vif]
    return vif_df.sort_values(by = 'Vif', axis = 0, ascending=False, inplace=False)
    
X=df_ohe.drop(['SALARY_AVG_TL'], axis=1)
calculate_vif(X)

                                        Var   Vif
20                             COMPANY_Oyun  2.31
7                   POSITION_GAME DEVELOPER  2.03
15          COMPANY_Dijital / Reklam Ajansı  1.59
28                             CURRENCY_GBP  1.18
4      POSITION_EMBEDDED SOFTWARE DEVELOPER  1.14
22              COMPANY_Yazılım & Teknoloji  1.14
1                   POSITION_DATA SCIENTIST  1.12
12    POSITION_SOFTWARE DEVELOPMENT MANAGER  1.12
11              POSITION_SOFTWARE ARCHITECT  1.11
10  POSITION_QA / TEST AUTOMATION DEVELOPER  1.09
17                 COMPANY_Fintech / Finans  1.08
29                             CURRENCY_TRY  1.07
3                  POSITION_DEVOPS ENGINEER  1.07
0                              POSITION_CTO  1.05
9                            POSITION_OTHER  1.05
2                   POSITION_DATABASE ADMIN  1.03
19                        COMPANY_Outsource  0.76
18                         COMPANY_Kurumsal  0.70
21                          COMPANY_Startup  0.63
8     POSITION_MOBILE APPLICATION DEVELOPER  0.59
26                         WORK_TYPE_Remote  0.52
16                        COMPANY_E-Ticaret  0.47
24                         WORK_TYPE_Hibrit  0.37
30                             CURRENCY_USD  0.25
6             POSITION_FULL STACK DEVELOPER  0.24
13                POSITION_TEAM / TECH LEAD  0.17
5              POSITION_FRONT-END DEVELOPER  0.16
23                  WORK_TYPE_Geçici Remote  0.15
27                            CITY_yurt_ici  0.15
25                           WORK_TYPE_Ofis  0.14
14                             GENDER_Kadın  0.05

One hot encoding yaparken drop_first=True argümanı ile her değişkenin ilk sınıfını düşürdüğümüz için Variance Inflation Factor (VIF) değerleri 5'ten küçük çıktı.

In [77]:
# merge one-hot encoded columns back with original DataFrame
encoded_df = df_lab.join(df_ohe)

In [78]:
encoded_df.head(15)

    LEVEL  POSITION_CTO  POSITION_DATA SCIENTIST  POSITION_DATABASE ADMIN  POSITION_DEVOPS ENGINEER  POSITION_EMBEDDED SOFTWARE DEVELOPER  POSITION_FRONT-END DEVELOPER  POSITION_FULL STACK DEVELOPER  POSITION_GAME DEVELOPER  POSITION_MOBILE APPLICATION DEVELOPER  ...  COMPANY_Yazılım & Teknoloji  WORK_TYPE_Geçici Remote  WORK_TYPE_Hibrit  WORK_TYPE_Ofis  WORK_TYPE_Remote  CITY_yurt_ici  CURRENCY_GBP  CURRENCY_TRY  CURRENCY_USD  SALARY_AVG_TL
0       1             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        0                 1               0                 0              1             0             1             0          15499
1       0             0                        0                        0                         0                                     0                             1                              0                        0                                      0  ...                            0                        0                 1               0                 0              1             0             1             0           8499
2       1             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        0                 0               0                 1              1             0             1             0          15499
3       0             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                            0                        0                 1               0                 0              1             0             1             0          10499
4       0             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        0                 0               0                 0              1             0             1             0           5499
5       1             0                        0                        0                         0                                     0                             0                              0                        0                                      1  ...                            0                        0                 1               0                 0              1             0             1             0          12499
6       0             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        1                 0               0                 0              1             0             1             0           8499
7       1             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        0                 0               0                 1              0             0             0             1         195605
8       1             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                            0                        0                 0               0                 1              1             0             1             0           7499
9       2             0                        0                        0                         0                                     0                             0                              0                        0                                      0  ...                            0                        0                 0               0                 1              0             0             1             0          15499
10      2             0                        0                        0                         0                                     0                             0                              0                        0                                      1  ...                            0                        0                 0               0                 1              1             0             1             0          24499
11      0             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                            0                        0                 0               0                 1              1             0             1             0           5499
12      2             0                        0                        0                         0                                     0                             1                              0                        0                                      0  ...                            0                        0                 0               0                 1              1             0             1             0          21499
13      0             0                        0                        0                         0                                     0                             0                              0                        0                                      1  ...                            0                        0                 0               0                 1              0             0             0             1          46565
14      2             0                        0                        0                         0                                     0                             0                              1                        0                                      0  ...                            0                        0                 0               0                 1              1             0             1             0          21499

[15 rows x 33 columns]

In [79]:
# Encode edilmiş veri setini csv dosyası şeklinde kaydedelim.
encoded_df.to_csv("data/step6_encoded.csv", encoding='utf-8', index=False)